.play--level {
  margin-bottom: var(--margin);
  width: 38%;
  height: 7%;
  opacity: 0;
  background-color: #FFF;
  border-radius: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play--level h3 {
  font-size: .5em;
  margin: .2em;
  font-weight: 300;
}
