.play--word {
  /* grid-column: 2 / 4;
  grid-row: 2 / 2; */
    margin-bottom: var(--margin);
      width: 76%;
      height: 15%;
      background: var(--green-light);
      border-radius: 50px;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  }
  .play--word-match {
    background-image: url('../../media/match.svg');
    background-size: .9em .9em;
    width: .9em;
    height: .9em;
    position: absolute;
    left: 1em;
    display: none;
    animation: matched 1s ease-in-out;
  }
  @keyframes matched {
    0% {
      opacity: 0;
    }
    20% {
      opacity: .3;
    }
    40% {
      opacity: .6;
    }
    60% {
      opacity: .9;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .play--word h2 {
      font-size: .9em;
      font-weight: bold;
      transition: 1s;
  }
  .icon-wrap {
    width: 1.1em;
    height: 1.1em;
    border-radius: 100px;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    right: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }
  .icon {
    background-image: url('../../media/volumen.svg');
    background-size: .9em .9em;
    width: .9em;
    height: .9em;
    transition: .3s;
  }
  .wrong {
      animation-name: wrong;
      animation-duration: 1s;
  }
  @keyframes wrong {
      0% {
          transform: translateX(30px);
          color: var(--red-dark);
      }
      20% {
          transform: translateX(-30px);
          color: var(--red-dark);
      }
      40% {
          transform: translateX(20px);
          color: var(--red-dark);
      }
      60% {
          transform: translateX(-10px);
          color: var(--red-dark);
      }
      80% {
          transform: translateX(5px);
          color: var(--red-dark);
      }
      100% {
          transform: translateX(0px);
          color: var(--red-dark);
      }
  }